/* Custom styles for pmckay.com

*/

html {
  background: url('../img/typewriter.jpg');

  /* Photo by Rick Harris via FLickr (http://bit.ly/1M1wTVg) under Creative Commons license (http://bit.ly/1dsePQq). No changes made to original work. */

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', 'Open Sans', sans-serif;
}


.flag {
  background: #F7F7F7;
  margin-top: 10em;
  opacity: 0.925;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.flag * {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #575757
}

.flag h1, .flag ul {
  margin: 0.5em 0;
}

.flag h1, .flag li {
  margin: 0.5em 2.5em 0.5em 0;
  }

.flag h1 {
  color: black;
  }

.flag li:hover {
  color: #A80000;
  }

