/*

Custom styles for pmckay.com, starting with the navigations...

*/


/* html {padding-bottom: 3em}


body#homepage, .nav {
    background: url('../img/typewriter.jpg');
    /* Photo by Rick Harris via FLickr (http://bit.ly/1M1wTVg) under Creative Commons license (http://bit.ly/1dsePQq). No changes made to original work. */
/*    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
  }


body#homepage {background-attachment: fixed;}


*/

ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
  }


ul {}


.nav h1, .nav h1 * {color: #f7f7f7}

.nav h1, .nav li {
  margin: 0.25em 1.75em 0.25em 0;
  }

.content {
  padding: 2.5em 1.75em;
  }


.nav li {
    background: #F7F7F7;
    padding: 0.5em;
  }


/* Exceptions for homepage navigation bar, to make it more posterized... */


#homepage .nav {
  margin-top: 12em;
  background: #F7F7F7;
  opacity: 0.875;
}

#homepage .nav h1,  #homepage .nav h1 * {
  color: black;
}
